{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'htcss/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'htcss/css/kharid.css' %}">
    <title>خرید  کنید دی اند دی</title>
</head>
<body>
    <div class="main">
        <div class="social-bar">
                <h1>D.AND.D</h1>
                <ul>
                    <li><a href="https://www.instagram.com/danddpro/"><img src="{% static 'htcss/img/instagram.jpg' %}" alt="instagram"></a></li>
    
                </ul>
                
            </div>
            <div class="main-header">
                <nav class="navbar">
                    <div class="sidebar">               
                     <a href="#" onclick="openslide()">
                        <svg width="30" height="30">
                            <path d="M0,5 30,5" stroke="#111" stroke-width="5"/>
                             <path d="M0,14 30,14"   stroke="#111" stroke-width="5"/>
                            <path d="M0,23 30,23"   stroke="#111" stroke-width="5"/>
                        </svg> 
                    </a>
                    </div>
                    <div id="slide-bar">
                        <ul id="slidebar">
                            <li><a href="#" class="btn-close" onclick="closesilde()">&times;</a></li>
                            <li><a href="/">خانه</a></li>
                            <li><a href="/kharid">خرید کنید </a></li>
                            <li><a href="/darbare">درباره</a></li>
                            <li><a href="#">اخبار روزانه</a></li>
                        </ul>
                    </div>
                    <div class="nav-content">
                        <ul>
                            <li><a href="/">خانه</a></li>                        
                            <li><a href="/kharid">خرید کنید</a></li>
                            <li><a href="/darbare">درباره</a></li>
                            <li><a href="#">اخبار روزانه</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="main-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sed optio, explicabo inventore saepe ullam! Suscipit itaque beatae sequi incidunt aliquam aspernatur expedita, assumenda necessitatibus mollitia ab ipsam, asperiores saepe!</p>
            </div><hr>
            <section>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id? Quae quidem vel, explicabo labore eum eligendi exercitationem asperiores aut dignissimos iure ipsa quas laborum tenetur autem quos facilis harum!</p>
            </section>
            <div class="main-footer">
                    <div class="links" id="primary">
                        <h3>شماره تماس:09906873238</h3>
                        <h3>شماره تماس :09213386874</h3>
                    </div>
                    <div class="links" id="secondary">
                        <h3>instagram:@dandd</h3>
                        <h3>telegram:@dandd</h3>
                    </div>
                </div>
            </div>


















    </div>        
    <script src="{% static 'htcss/javaScript/app.js' %}"></script>
</body>
</html>