.main-body{
    width: 100%;
}
.main-body .main-body-header{
    width: 100%;

}

.main-body-header h1{
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: #222;
    padding: 20px;
    font-size: 2.5rem;
    float: left;
    
}
.main-body-main{
    width: 100%;
    display: block;
    line-height:  25px;
    background: #f4f4f4;
}
.main-body-main p{
    width: 100%;
    text-align: right;
    

}

.container{
    width: 100%;
    display: flex;
}

 .container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
}


.container .c1 p{
    text-align: left;
    margin-left: 20px;
}
.container .c2 img{
    float: right;
    text-align: right;
}

















/*---------------main footer ----*/



.main-footer{
    margin-bottom: 0;
}